<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=.;Initial Catalog=sitecore9_Core;User ID=coreuser;Password=Test12345" />
  <add name="master" connectionString="Data Source=.;Initial Catalog=sitecore9_Master;User ID=masteruser;Password=Test12345" />
  <add name="web" connectionString="Data Source=.;Initial Catalog=sitecore9_Master;User ID=masteruser;Password=Test12345" />
  <add name="xconnect.collection" connectionString="https://XConnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=3D924824D36DB2D8438CBD695DEAA3D648CCFAC0" />
  <add name="xdb.referencedata" connectionString="Data Source=.;Initial Catalog=sitecore9_ReferenceData;User ID=referencedatauser;Password=Test12345" />
  <add name="xdb.referencedata.client" connectionString="https://XConnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=3D924824D36DB2D8438CBD695DEAA3D648CCFAC0" />
  <add name="xdb.processing.pools" connectionString="Data Source=.;Initial Catalog=sitecore9_Processing.Pools;User ID=poolsuser;Password=Test12345" />
  <add name="reporting" connectionString="Data Source=.;Initial Catalog=sitecore9_Reporting;User ID=reportinguser;Password=Test12345" />
  <add name="xdb.processing.tasks" connectionString="Data Source=.;Initial Catalog=sitecore9_Processing.Tasks;User ID=tasksuser;Password=Test12345" />
  <add name="xdb.marketingautomation" connectionString="Data Source=.;Initial Catalog=sitecore9_MarketingAutomation;User ID=marketingautomationuser;Password=Test12345" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://XConnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=3D924824D36DB2D8438CBD695DEAA3D648CCFAC0" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://XConnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=3D924824D36DB2D8438CBD695DEAA3D648CCFAC0" />
  <add name="experienceforms" connectionString="Data Source=.;Initial Catalog=sitecore9_ExperienceForms;User ID=formsuser;Password=Test12345" />
</connectionStrings>